@import url('<link href="https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu" rel="stylesheet">');

body {
    background-image: url("../public/images/smoothbg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #262161 !important;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    margin-top: 30px;
    text-decoration-color: red;
}

.form-group {
    color: gainsboro !important;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: red !important;
    font-size: 40px;
    
}

/* .container {
    background-color: #262161;
    padding: 0 25px 20px 25px;
    border-radius: 5px;
    margin: 21px auto auto auto;
} */

h4 {
    color: rgb(238, 231, 134) !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    line-height: 1.51;
}

.container-1 {
    background-color: none !important;
    box-sizing: border-box;
}